<% include partials/header %>
			
<div class="panel container-fluid d-flex justify-content-center align-items-center">
	<div class="d-flex flex-column content text-center justify-content-center">
		<h1>YelpCastle</h1>
		<h3>The largest castle database on the web</h3>
		<a href="/castles" class="btn btn-raised btn-secondary">View all castles</a>
	</div>
</div>

<% include partials/footer %>