<% include partials/header %>

<div class="container" style= "margin-top: 20px;">
        <h1 class="text-center">Sign up</h1>
        <div style= "width: 50%; margin: 30px auto;">
                <form action="/register" method="POST">
                    <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="adminCode" placeholder="Admin code">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block">Submit</button>
                </div>
            </form>
            <a href="/castles">Return</a>
        </div>	
    </div>


<% include partials/footer %>